*{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-tap-highlight-color:transparent;
    -webkit-tap-highlight-color:transparent;
    -webkit-touch-callout:none
}
html{
    width:100%;
    min-height: 100%;
    font-size:62.5%;
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    text-size-adjust:100%
}
body{
    margin:0;
    padding:0;    
    width:100%;
    max-width:100%;
    height:100%;
    max-height:100%;
    -webkit-font-smoothing:antialiased;
    font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    -webkit-user-drag:none;
    -ms-content-zooming:none;
    -ms-touch-action:manipulation;
    touch-action:manipulation;
    word-wrap:break-word;
    -webkit-text-size-adjust:none;
    -moz-text-size-adjust:none;
    -ms-text-size-adjust:none;
    text-size-adjust:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;    
    background:url(../images/bg.jpg) no-repeat center top;
    background-size: cover;
}
a{
    background-color:transparent;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    margin-top:1.6rem;
    margin-bottom:1rem;
    font-weight:500;
    line-height:1.2
}

header{
    background: #000;
    text-align: center;
}
header .logo{
    width: 100%;
    max-width: 200px;
    display: inline-block;
}
header .logo img{
    width: 100%;
}
.contentpart{
    padding: 20px 10px;
    width: 100%;
}
.contentpart .page-content{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 350px;
    padding: 20px;
    width: 100%;
}
.create_account .pg-heading{
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}
.create_account .pg-heading h1{
    font-weight: 600;
    margin-top: 0;
}
.create_account .pg-heading span{
    display: block;
    color: #222;
    font-size: 12px;
}
.create_account .pg-heading a{
    font-size: 12px;
}
.create_account .lang-wrap{
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}
.create_account .lang-wrap h5{
    margin-top: 0;
}
.create_account .lang-wrap .nav{
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}
.create_account .lang-wrap .nav li{
    display:inline-block;
    float: left;
}
.create_account .lang-wrap .nav li a{
    font-size: 12px;
    color: #222;
    font-weight: 500;
}
.create_account .lang-wrap .nav li a.active{
    background: #222;
    color: #fff;
}
.create_account .lang-wrap .nav li a:hover{
    background: #555;
    color: #fff;
}
.form-wrap{

}
.form-wrap .captcha img{
    max-width: 220px;
}
.form-control{
    font-size: 12px;
    padding: 10px 15px;
}
.btn{
    font-size: 15px;
    background: #222;
    border: 0;
    padding: 8px 15px;
    box-shadow: none;
}
.btn:hover{
    background: #000;
}
.btn-primary.active:focus:not(:disabled):not(.disabled), .btn-primary:active:focus:not(:disabled):not(.disabled), .show > .btn-primary.dropdown-toggle:focus{
    background: #000;
    border: 0;
    box-shadow: none;
}
.btn-primary.focus, .btn-primary:focus{
    box-shadow: none;
}
.form-group {
    margin-bottom: 15px;
}
.create_account .btn{
    width: 100%;
}

.link{
    color: #222;
}
.link:hover{
    color: #000;
}

.bredcrum-wrap{
    padding: 20px;
    width: 100%;
    overflow: hidden;
    padding-bottom: 0;
}
.breadcrumb{
    display: inline-block;
    background-color: transparent;
    margin: 0;
    margin-top: 5px;
}
.breadcrumb li{
    display: inline-block;
}
.breadcrumb li a{
    color: #555;
    text-decoration: none;
}
.breadcrumb li a:hover{
    color: #000;
    text-decoration: none;
}

.creat-album{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 100%;
    padding: 50px 20px;
    width: 100%;
}
.creat-album .groupimg{
width: 100%;
display: inline-block;
text-align: center;
margin-bottom: 10px;
}
.creat-album .groupimg img{
    width: 100%;
    max-width: 350px;
}
.creat-album .textdiv{
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
.pagenav{
    padding: 15px 0px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.pagenav .dropdown .dropdown-item{
    font-size: 12px;
    padding: 5px 10px;
}
.pagenav .dropdown .dropdown-item i{
    width: 15px;
    height: 15px;
    text-align: center;
}

.complete-charter{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 350px;
    padding: 20px;
    width: 100%;
}
.complete-charter .navbar{
    font-size: 16px; 
    font-weight: 500;
    text-align: center;
    width: 100%;
    display: inline-block;
    line-height: 30px;
    margin-bottom: 10px;
}
.complete-charter .navbar span{
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 12px;
    line-height: 19px;
    margin-right: 5px;
}

.complete-charter .lang-wrap{
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}
.complete-charter .lang-wrap h5{
    margin-top: 0;
}
.complete-charter .lang-wrap .nav{
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}
.complete-charter .lang-wrap .nav li{
    display:inline-block;
    float: left;
}
.complete-charter .lang-wrap .nav li a{
    font-size: 12px;
    color: #222;
    font-weight: 500;
}
.complete-charter .lang-wrap .nav li a.active{
    background: #222;
    color: #fff;
}
.complete-charter .lang-wrap .nav li a:hover{
    background: #555;
    color: #fff;
}

.complete-charter .flag-wrap{
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}
.complete-charter .flag-wrap h6{
    margin-top: 0;
}
.complete-charter .flag-wrap .nav{
    display: inline-block;
    
    
    overflow: hidden;
}
.complete-charter .flag-wrap .nav li{
    display:inline-block;
    float: left;
    margin-right: 5px;
    background: none;
}
.complete-charter .flag-wrap .nav li a{
    font-size: 11px;
    color: #222;
    font-weight: 400;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}
.complete-charter .flag-wrap .nav li a img{
    width: 20px;
}
.complete-charter .flag-wrap .nav li a.active{
    background: #f1f1f1;
    color: #222;
    border: 1px solid #ccc;
}
.complete-charter .flag-wrap .nav li a:hover{
    background: #f1f1f1;
    color: #222;
}
.complete-charter .flag-wrap .nav li a span{
    display: block;
    margin-bottom: 3px;
}
.bottom_row{
    padding: 20px;
    width: 100%;
    overflow: hidden;
}
.navbar.pagenav > .container, .navbar.pagenav > .container-fluid{
    display: inline-block;
}

.enviroment-box{
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
    margin-bottom: 20px;
}
.envimg {
    text-align: center;
}
.envimg img{
    max-width: 130px;
}
.memb-list table{
    background: #fff;
}
.envir-data{
    text-align: center;
}
.envir-data ul{
    display: inline-flex;
    padding: 0;
    margin: 0;
}
.envir-data ul li{
    align-items: center;
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100px;
    margin: 0px 10px;
}
.envir-data ul li .envir-count{
    display: inline-block;
    font-size: 14px;
}
.envir-data ul li h5{
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    font-size: 12px;
}
.envir-txt h3{
    margin-top: 0;
}

.creat-environment{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 100%;
    padding:0px;
    width: 100%;
    overflow: hidden;
}
.creat-environment .nav-tabs{
    display: flex;
}
.creat-environment .nav-tabs .nav-item{
    flex: 1 1 auto;
}
.creat-environment .nav-tabs .nav-item a{
    border: 0;
    font-size: 16px;
    text-align: center;
    background: #fff;
    color: #222;
    padding: 15px ;
    border-radius: 0;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    
}
.creat-environment .nav-tabs .nav-item a.active{
    background: #000;
    color: #fff;
}
.creat-environment .nav-tabs .nav-item a.active:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 10px;
    margin-left: -10px;
    bottom: -2px;
}
.creat-environment .tab-content{
    padding: 20px;
}
.creat-environment .tab-content .tabwrap{
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
}
.creat-environment .imgdiv{
 text-align: center;
 display: flex;
 align-items: center;
 justify-content: center;
}
.creat-environment .imgdiv img{
    width: 100%;
    max-width: 300px;
}
.creat-environment .custom-control {
    display: block;
    min-height: 1.5rem;
    padding-left: 22px;
    position: relative;
    margin-bottom: 3px;
}
.creat-environment .custom-control-label::before {
    -moz-user-select: none;
    background-color: #dee2e6;
    content: "";
    display: block;
    height: 15px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 2px;
    width: 15px;
}
.creat-environment .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'-5 -5 10 10\'%3E%3Ccircle r=\'4\' fill=\'%23fff\'/%3E%3C/svg%3E");
}
.creat-environment .custom-control-label::after {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    content: "";
    display: block;
    height: 15px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 15px;
}

.custom-select{
    padding: 5px;
    height: 35px;
}


.addnode{
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    padding: 50px;
}
.addnode .imgdiv{
 text-align: center;
 display: flex;
 align-items: center;
 justify-content: center;
}
.addnode .imgdiv img{
    width: 100%;
    max-width: 300px;
}
.addnode .custom-control {
    display: block;
    min-height: 1.5rem;
    padding-left: 22px;
    position: relative;
    margin-bottom: 3px;
}
.addnode .custom-control-label::before {
    -moz-user-select: none;
    background-color: #dee2e6;
    content: "";
    display: block;
    height: 15px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 2px;
    width: 15px;
}
.addnode .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'-5 -5 10 10\'%3E%3Ccircle r=\'4\' fill=\'%23fff\'/%3E%3C/svg%3E");
}
.addnode .custom-control-label::after {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    content: "";
    display: block;
    height: 15px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 15px;
}

.addnode .custom-select{
    padding: 5px;
    height: 35px;
}



.success_addnodes{
    margin: 0 auto;
    max-width: 925px;
    padding: 50px 20px;
    width: 100%;
}
.success_addnodes .imgdiv{
 text-align: center;
 display: flex;
 align-items: center;
 justify-content: center;
}
.success_addnodes .imgdiv img{
    width: 100%;
    max-width: 300px;
}


.generate_app{
    margin: 0 auto;
    max-width: 700px;
    padding: 50px 20px;
    width: 100%;
}
.generate_app .imgdiv{
 text-align: center;
 display: flex;
 align-items: center;
 justify-content: center;
}
.generate_app .imgdiv img{
    width: 100%;
    max-width: 300px;
}
.generate_app .custom-control {
    display: block;
    min-height: 1.5rem;
    padding-left: 22px;
    position: relative;
    margin-bottom: 3px;
}
.generate_app .custom-control-label::before {
    -moz-user-select: none;
    background-color: #dee2e6;
    content: "";
    display: block;
    height: 15px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 2px;
    width: 15px;
}
.generate_app .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'-5 -5 10 10\'%3E%3Ccircle r=\'4\' fill=\'%23fff\'/%3E%3C/svg%3E");
}
.generate_app .custom-control-label::after {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    content: "";
    display: block;
    height: 15px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 15px;
}

.generate_app .custom-select{
    padding: 5px;
    height: 35px;
}


.fund_account{
    margin: 0 auto;
    max-width: 700px;
    padding: 50px 20px;
    width: 100%;
}
.fund_account .imgdiv{
 text-align: center;
 display: flex;
 align-items: center;
 justify-content: center;
}
.fund_account .imgdiv img{
    width: 100%;
    max-width: 300px;
}
.fund_account .custom-control {
    display: block;
    min-height: 1.5rem;
    padding-left: 22px;
    position: relative;
    margin-bottom: 3px;
}
.fund_account .custom-control-label::before {
    -moz-user-select: none;
    background-color: #dee2e6;
    content: "";
    display: block;
    height: 15px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 2px;
    width: 15px;
}
.fund_account .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'-5 -5 10 10\'%3E%3Ccircle r=\'4\' fill=\'%23fff\'/%3E%3C/svg%3E");
}
.fund_account .custom-control-label::after {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    content: "";
    display: block;
    height: 15px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 15px;
}

.fund_account .custom-select{
    padding: 5px;
    height: 35px;
}

.navbar .input-group{
    float: right;
    max-width: 300px;
}

.explore_tab{
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    
}
.explore_tab .table  td{
    text-align: left;
    line-height: 20px;
}
.explore_tab .table .thead-dark th {
    background-color: #d2d2d2;
    border-color: #d2d2d2;
    color: #fff;
    text-align: left;
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.explore_tab .table-striped tbody tr:nth-of-type(2n+1) {
    background-color:#fff;
}
.refresh{
    color: #222;
  
    float: right;
}
.explore_tab .table .thead-dark th i{
    margin-right: 5px;
}
.explore_tab .lcol span{
    display: block;
    color: #5c5c5c;
}
.explore_tab .lcol i{
    margin-right: 5px;
}
.explore_tab .rcol{
    text-align: right;
}
.explore_tab .rcol span{
    color: #5c5c5c;
    display: block;
}
.explore_tab td .row {
    margin: 0 -5px;
}
.explore_tab a{
    color: #000;
}

.unverified{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 100%;
    padding:20px;
    width: 100%;
    overflow: hidden;
}
.unverified .head_title{
    font-size: 22px;
    margin-bottom: 20px;
}
.unverified .head_title span{
    display: block;
    font-size: 16px;
    color: #555;
}
.unverified .linklist{
    padding: 0;
    margin: 0px 0px 20px 0px;
    width: 100%;
}
.unverified .linklist li{
    display: inline-block;
    
}
.unverified .linklist li a{
    background: #d2d2d2;
    padding: 5px 10px;
    color: #222;
    text-decoration: none;
    font-size: 14px;
}
.unverified .linklist li a.active{
    background: #222;
    color: #fff;
}
.unverified .sourcecode{
    background: #f1f1f1;
    border:1px solid #e5e5e5;
    padding: 15px;
    line-height: 20px;
}

.verified{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 100%;
    padding:20px;
    width: 100%;
    overflow: hidden;
}
.verified .head_title{
    font-size: 22px;
    margin-bottom: 20px;
}
.verified .head_title span{
    display: block;
    font-size: 16px;
    color: #555;
}
.verified .linklist{
    padding: 0;
    margin: 0px 0px 20px 0px;
    width: 100%;
}
.verified .linklist li{
    display: inline-block;
    
}
.verified .linklist li a{
    background: #d2d2d2;
    padding: 5px 10px;
    color: #222;
    text-decoration: none;
    font-size: 14px;
}
.verified .linklist li a.active{
    background: #222;
    color: #fff;
}
.verified .sourcecode{
    background: #f1f1f1;
    border:1px solid #e5e5e5;
    padding: 15px;
    line-height: 20px;
}
.verified .notetxt{
    border: 0;
background: #f1f1f1;
border-left:5px solid #ccc;
padding: 20px;
line-height: 22px;
margin-bottom: 20px;
}
.verified .row{
    margin-bottom: 15px;
}
.verified .inp{
    height: 35px;
    line-height: 18px;
}